<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">IHAD</a>
    </div>

    <ul class="nav navbar-nav">
        <li><a href="#/search">Search</a></li>
        <li><a href="#/activeuser">My Profile</a></li>
        <li><a href="#/about">About</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#/activeuser">{{user.name}}</a></li>
        <li><img ng-src="{{user.picURL}}"></li>
        <li><a href="" ng-click="logout()">Log Out</a></li>
    </ul>
    
  </div>
</nav>

<div class="container">
    <div class="row" style="background-color: #123456; color: #fff;">
        <div class="col-sm-10">
            <h3><img ng-src="http://graph.facebook.com/{{fb_id}}/picture?type=square"> {{viewProfile.name}}</h3>
   	    </div>
    </div>
    <div class="row" style="background-color: #123456; color: #fff;">
        <div class="col-sm-2">
           
        </div>
        <div class="col-sm-8 text-center" style="background-color: #fff; color: #123456; height: 440px;">
            <div class="row">
                <div ng-repeat="goal in viewProfile.currentGoal" class="col-sm-12">
                    <h1>I'm going to spend an hour a day on {{goal.title}}</h1>
                    <h3>{{goal.description}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 text-left">
                    <h4>Future Goals</h4>
                    <div ng-repeat="goal in viewProfile.userGoals | futureGoals">
                        <p><strong>{{goal.title}}</strong>: {{goal.description}} <span><strong>Starts</strong>: {{goal.start_date | date}}</span></p>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-8 text-left">
                    <h4>Completed Goals</h4>
                    <div ng-repeat="goal in viewProfile.userGoals | pastGoals">
                        <p><strong>{{goal.title}}</strong>: {{goal.description}} <span><strong>Ended</strong>: {{goal.end_date | date}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <p><strong>Last Check In</strong>: {{checkInService.currentCheckIns[0].day | date}}</p>
            <p><strong>Longest streak</strong>: {{checkInService.longestStreak.length}} Days</p>
            <p><strong>Current Streak</strong>: {{checkInService.currentStreak.length}} Days</p>
        </div>
    </div>
    <div class="row" style="background-color: #123456; color: #fff;">
        <div class="col-sm-12" style="height: 15px;">
        </div>
    </div>
</div>